<article class="container">
				<h2 class="title">Profile</h2>

				<form method="get" action"#">
					<div id="form-step-1">
						<table class="table-common" width="100%" border="0" cellspacing="0" cellpadding="5">
							<tbody>
								<tr><th>Data Pribadi</th></tr>
								<tr valign="top">
									<td>	
										<div class="ui-field-contain">
										    <label for="nama">Nama Lengkap <font color="#dd0000" size="4">*</font></label>
                                                                                    <input class="input" name="nama" id="nama" size="30" value="<%= data.member_name %>" maxlength="50" type="text" >
										</div>

										<div class="ui-field-contain">
						    				<label for="email">Email <font color="#dd0000" size="4">*</font></label>
						    				<input class="input" name="email" id="email" size="50" value="<%= data.member_email %>" maxlength="50" type="text">
						    			</div>					    			

										
                                                                        <div class="ui-field-contain">
						    				<label for="notelp">No. Telepon</label>
											<input class="input" name="notelp" id="notelp" size="30" value="<%= data.member_phone %>" maxlength="20" type="text">	
						    			</div>

										<div class="ui-field-contain">
						    				<label for="nohp">No. Handphone <font color="#dd0000" size="4">*</font></label>
											<input class="input" name="nohp" id="nohp" size="30" value="<%= data.member_mobilephone %>" maxlength="20" type="text">
						    			</div>

												    			
									</td>
								</tr>
							</tbody>
						</table>
					</div>

					<div id="form-step-3">
						<table class="table-common" width="100%" border="0" cellspacing="0" cellpadding="5">
							<tbody>
								<tr><th>Data Rekening Bank</th></tr>
								<tr valign="top">
									<td>	
										

										<div class="ui-field-contain">
										    <label for="cabang">Bank</label>
											<%= data.member_bank_name %>
										</div>

										<div class="ui-field-contain">
										    <label for="kotabank">No. Rekening</label>
											<%= data.member_bank_account_no %>
										</div>
										<div class="ui-field-contain">
										    <label for="kotabank">A/N</label>
											<%= data.member_bank_account_name %>
										</div>

																														
									</td>
								</tr>
							</tbody>
						</table>
					</div>
														
				</form>										
			</article>