

				<h2 class="title">Profile</h2>

				<form method="get" action"#">
					<div id="form-step-1">
						<table class="table-common" width="100%" border="0" cellspacing="0" cellpadding="5">
							<tbody>
								<tr><th>Data Pribadi</th></tr>
								<tr valign="top">
									<td>	
										<div class="ui-field-contain">
										    <label for="nama">Nama Lengkap </label>
										    <label for="nama"><%= data.member_name %></label>
										</div>

										<div class="ui-field-contain">
						    				<label for="email">Email </label>
						    				<label for="email"><%= data.member_email %></label>
        						    			</div>					    			

										
                                                                        <div class="ui-field-contain">
						    				<label for="notelp">No. Telepon</label>
						    				<label for="notelp"><%= data.member_phone %></label>
						    			</div>

										<div class="ui-field-contain">
						    				<label for="nohp">No. Handphone</label>
						    				<label for="nohp"><%= data.member_mobilephone %></label>
						    			</div>

												    			
									</td>
								</tr>
							</tbody>
						</table>
					</div>

					<div id="form-step-3">
						<table class="table-common" width="100%" border="0" cellspacing="0" cellpadding="5">
							<tbody>
								<tr><th>Data Rekening Bank</th></tr>
								<tr valign="top">
									<td>	
										

										<div class="ui-field-contain">
										    <label for="cabang">Bank</label>
											<label for="cabang"><%= data.member_bank_name %></label>
										</div>

										<div class="ui-field-contain">
										    <label for="kotabank">No. Rekening</label>
											<label for="kotabank"><%= data.member_bank_account_no %></label>
										</div>
										<div class="ui-field-contain">
										    <label for="kotabank">A/N</label>
											<label for="kotabank"><%= data.member_bank_account_name %></label>
										</div>

																														
									</td>
								</tr>
							</tbody>
						</table>
					</div>
														
				</form>										